/* gradient style for diagonal lines */
.childDiv{
background:repeating-linear-gradient(
        45deg,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2) 10px,
        rgba(0, 0, 0, 0.3) 10px,
        rgba(0, 0, 0, 0.3) 20px
      );
}
    

.animate{
    animation: moveProgress 1s ease-in-out forwards;
}
@keyframes moveProgress{
    from{
        width: 50%;
    }
    to{
        width: 100%;
    }
}